<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.cn.template.mybatis.BaseMybatisDao">

	<!-- 创建数据表 -->
	<update id="createTable" parameterType="map" >
		create table ${tableName} (
		`id` bigint(20) NOT NULL AUTO_INCREMENT,
		`apply_id` bigint(20) DEFAULT NULL,
		`ch_apply_name` varchar(255) DEFAULT NULL,
		`en_apply_name` varchar(255) DEFAULT NULL,
		`ch_check_type` varchar(255) DEFAULT NULL,
		`en_check_type` varchar(255) DEFAULT NULL,
		`ch_consigner` varchar(255) DEFAULT NULL,
		`en_consigner` varchar(255) DEFAULT NULL,
		`ch_client` varchar(255) DEFAULT NULL,
		`en_client` varchar(255) DEFAULT NULL,
		`ch_test_items` varchar(255) DEFAULT NULL,
		`en_test_items` varchar(255) DEFAULT NULL,
		`ch_sample_name` varchar(255) DEFAULT NULL,
		`en_sample_name` varchar(255) DEFAULT NULL,
		`sample_model` varchar(255) DEFAULT NULL,
		`sample_number` int(10) DEFAULT NULL,
		`ch_units` varchar(255) DEFAULT NULL,
		`en_units` varchar(255) DEFAULT NULL,
		primary key (`id`)
		) ENGINE=InnoDB DEFAULT CHARSET=utf8 
	</update>
	
	<!-- 删除数据表 -->
	<update id="dropTable" parameterType="map" >
		drop table if exists ${tableName} 
	</update>
	
	<!-- 给数据表添加字段 -->
	<update id="addColumn" parameterType="map" >
		alter table ${tableName} add column ${columnName} ${columnAttribute} 
	</update>
	
	<!-- 删除数据表字段 -->
	<update id="dropColumn" parameterType="map" >
		alter table ${tableName} drop column ${columnName}
	</update>

	<!-- 自定义组合更新 -->
	<update id="update" parameterType="map" >
		update ${tableName} set ${setString} where ${whereString}
	</update>
	
	<!-- 自定义组合添加 -->
	<insert id="insert" parameterType="map" >
		insert into ${tableName} (${fieldNames}) values (${fieldValues})
	</insert>

</mapper> 
